In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-05-24 15:58:50,-0.7393,-90.3518,82.36,85,64,8.01
1,1,Vestmanna,FO,2021-05-24 15:58:50,62.1564,-7.1664,49.12,76,90,9.53
2,2,Mount Isa,AU,2021-05-24 15:58:50,-20.7333,139.5000,58.77,63,40,0.00
3,3,Gornopravdinsk,RU,2021-05-24 15:58:51,60.0500,69.9000,61.03,60,99,8.37
4,4,Yellowknife,CA,2021-05-24 15:54:22,62.4560,-114.3525,37.33,60,1,5.01
...,...,...,...,...,...,...,...,...,...,...
581,581,Wooster,US,2021-05-24 16:02:19,40.8051,-81.9351,77.88,73,75,5.75
582,582,Jand,PK,2021-05-24 16:02:19,33.4299,72.0193,88.92,21,0,2.98
583,583,Uvat,RU,2021-05-24 16:02:19,59.1433,68.8953,61.77,78,85,5.95
584,584,Tugolesskiy Bor,RU,2021-05-24 16:02:20,55.5505,39.8242,60.48,69,99,4.61
585,585,Balotra,IN,2021-05-24 16:02:20,25.8333,72.2333,98.31,21,0,8.12

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API keys.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Remove the negetive temperatures because we will not be able to map it. 
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [11]:
# Heatmap of temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of Temperature.
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap for percent Humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap for percent Cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap for Wind Speed.
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add and minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximim temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximim temperature you would like for your trip?90

In [27]:
# Filter the dataset to find the cities that fit the criteria.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-05-24 15:58:50,-0.7393,-90.3518,82.36,85,64,8.01
5,5,Asyut,EG,2021-05-24 15:55:26,27.1810,31.1837,89.78,10,0,13.91
6,6,Meulaboh,ID,2021-05-24 15:58:51,4.1363,96.1285,79.14,87,81,3.76
8,8,Rikitea,PF,2021-05-24 15:58:52,-23.1203,-134.9692,75.40,83,85,15.52
10,10,East London,ZA,2021-05-24 15:58:53,-33.0153,27.9116,77.94,47,0,5.75
20,20,Faanui,PF,2021-05-24 15:58:56,-16.4833,-151.7500,80.64,75,30,5.82
28,28,Atuona,PF,2021-05-24 15:58:59,-9.8000,-139.0333,80.02,76,56,19.66
30,30,Manono,CD,2021-05-24 15:58:59,-7.3000,27.4167,76.87,38,10,8.12
35,35,Victoria,HK,2021-05-24 15:56:02,22.2855,114.1577,86.32,86,99,1.01
37,37,Butaritari,KI,2021-05-24 15:59:02,3.0707,172.7902,76.87,96,100,3.51

In [30]:
# Check if there are any null values in my preferred city Data Frame.
preferred_cities_df.count()

City_ID       177
City          177
Country       176
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [31]:
# Drop the null value (we have one!)
preferred_cities_df = preferred_cities_df.dropna()

In [32]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [34]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Puerto Ayora,EC,2021-05-24 15:58:50,-0.7393,-90.3518,82.36,85,64,8.01
5,5,Asyut,EG,2021-05-24 15:55:26,27.1810,31.1837,89.78,10,0,13.91
6,6,Meulaboh,ID,2021-05-24 15:58:51,4.1363,96.1285,79.14,87,81,3.76
8,8,Rikitea,PF,2021-05-24 15:58:52,-23.1203,-134.9692,75.40,83,85,15.52
10,10,East London,ZA,2021-05-24 15:58:53,-33.0153,27.9116,77.94,47,0,5.75
20,20,Faanui,PF,2021-05-24 15:58:56,-16.4833,-151.7500,80.64,75,30,5.82
28,28,Atuona,PF,2021-05-24 15:58:59,-9.8000,-139.0333,80.02,76,56,19.66
30,30,Manono,CD,2021-05-24 15:58:59,-7.3000,27.4167,76.87,38,10,8.12
35,35,Victoria,HK,2021-05-24 15:56:02,22.2855,114.1577,86.32,86,99,1.01
37,37,Butaritari,KI,2021-05-24 15:59:02,3.0707,172.7902,76.87,96,100,3.51

In [36]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

C:\Users\subha\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

            City Country  Max Temp      Lat       Lng Hotel Name
0   Puerto Ayora      EC     82.36  -0.7393  -90.3518
5          Asyut      EG     89.78  27.1810   31.1837
6       Meulaboh      ID     79.14   4.1363   96.1285
8        Rikitea      PF     75.40 -23.1203 -134.9692
10   East London      ZA     77.94 -33.0153   27.9116
20        Faanui      PF     80.64 -16.4833 -151.7500
28        Atuona      PF     80.02  -9.8000 -139.0333
30        Manono      CD     76.87  -7.3000   27.4167
35      Victoria      HK     86.32  22.2855  114.1577
37    Butaritari      KI     76.87   3.0707  172.7902

In [40]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel fromt ehr esults and store the name
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

C:\Users\subha\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

IndexError: list index out of range

In [43]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel fromt ehr esults and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [44]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,Asyut,EG,89.78,27.1810,31.1837,Florence Hotel Assiut
6,Meulaboh,ID,79.14,4.1363,96.1285,Kost Pria
8,Rikitea,PF,75.40,-23.1203,-134.9692,Pension Maro'i
10,East London,ZA,77.94,-33.0153,27.9116,Tu Casa
20,Faanui,PF,80.64,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
28,Atuona,PF,80.02,-9.8000,-139.0333,Villa Enata
30,Manono,CD,76.87,-7.3000,27.4167,Hotel hewa bora
35,Victoria,HK,86.32,22.2855,114.1577,Mini Hotel Central
37,Butaritari,KI,76.87,3.0707,172.7902,Isles Sunset Lodge

In [46]:
# Add a heatmap of Temperature for the Vacation spots.
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)

# Assign the marker layer.
marker_layer = gmaps.marker_layer(locations)

# Add the heatmap, and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Cite</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of Temperature for the vacation spots and a pop-up marker for each city.
# Get the latitude and longitude.
locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = hotel_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
                                dissipating=False, max_intensity=300, point_radius=4)

# Assign the marker layer.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the heatmap, and marker layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))