## Deliverable 3. Create a Travel Itinerary Map.

In [108]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [109]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Gigmoto,PH,82.44,overcast clouds,13.7796,124.3900,Cj's Travellers Inn
1,11,Bethel,US,79.20,few clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
2,13,Pataskala,US,79.02,clear sky,39.9956,-82.6743,SD
3,15,Hithadhoo,MV,81.90,overcast clouds,-0.6000,73.0833,Scoop Guest House
4,18,Hilo,US,87.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [110]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [111]:
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.0)

# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [112]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Puri"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Puri"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Banswara"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Ratnagiri"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Mamallapuram"]

In [113]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()
end = vacation_start[["Lat", "Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()

start = (start[0][0], start[0][1])
end = (end[0][0], end[0][1])
stop1 = (stop1[0][0], stop1[0][1])
stop2 = (stop2[0][0], stop2[0][1])
stop3 = (stop3[0][0], stop3[0][1])

In [114]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
start2end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(start2end)
fig

Figure(layout=FigureLayout(height='420px'))

In [115]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,167,Puri,IN,85.37,broken clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
1,445,Banswara,IN,83.97,broken clouds,23.5500,74.4500,Deepak Hotel
2,524,Ratnagiri,IN,84.00,overcast clouds,16.9833,73.3000,Hotel Landmark
3,20,Mamallapuram,IN,86.05,broken clouds,12.6264,80.1722,Radisson Blu Resort Temple Bay Mamallapuram

In [116]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [117]:
# Assign the figure variable.
fig = gmaps.figure()

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))